body{
	text-align: center;
	font-size: 12px;
	color:  #522a06;
	padding: 0px;
	font-family: '宋体';
	background-image: url(../images/bodybg.gif);
}
a:link{
	text-decoration: none;
	color: #522a06;
}
a:hover{
	text-decoration: underline;
}

#header{
	height: 205px;
	background-image: url(../images/bg.gif);
}
#banner{
	width: 1000px;
	height: 164px;
	align: center;
}
.banner_img{
	position: absolute;
	top: 38px;
	left: 25px;
}
#nav{
	height: 40px;
	background-image: url(../images/nav.jpg);
}
.nav_body{
	width: 1000px;
	align: center;
}
.nav_content{	
	color: #fff;
	width: 800px;
	font-weight: 900;
	line-height: 40px;	
}
.nav_content a{
	color: #fff;	
}
.a_concent a:hover{
	color:#f9f603;
	text-decoration: none;
}
.input1{
	width:140px;
	height:19px;
	background-color: #f8f5ee;
	display: inline;
	position: relative;
	left: 600px;
	top: -32px;
}
.input2{
	width:44px;
	height:21px;
	background-color: #000;
	color: #fff;
	border: 1px solid #f8f5ee;
	position: relative;
	left: 550px;
	top: -31px;
}
#content{
	width: 1140px;
	text-align: center;
	clear: both;
	position: relative;
	top: 30px;
}
#content_top{
	overflow: hidden;
}
#content_bottom_left{
	width: 830px;
	float: left;
}
#content_bottom_right{
	width: 280px;
	margin-top: 20px;
	float: right;
	position: relative;
	top: 30px;
}
.news_pic{
	width: 324px;
	height: 243px;
	background-image: url(../images/news_bg.png);
	margin-left: 80px;
	float: left;
}
.news_pic_picture{
	width: 300px;
	height: 200px;
	position: relative;
	top: 10px;
}
.news_pic_word{
	width: 300px;
	height: 22px;
	text-align: center;
}
.news_list{
	width: 350px;
	margin-left: 38px;
	float: left;
}
.new_list_a{
	float: right;
}
.news_list_li{
	line-height: 30px;
	text-align: left;
}
.news_list_span{
	float: right;
}
.news_announce{
	width: 277px;
	margin-top: 20px;
	margin-left: 70px;
	float: right;
}
.news_announce_list{
	background-image: url(../images/board_bg.png);
	width: 285px;
	height: 205px;
	line-height: 30px;
	text-align: left;
}
.academic{
	width: 380px;
	margin-left: 38px;
	float: left;
}
.academic_list{
	height: 54px;
}
.academic_list_a{
	float: right;
}
.academic_list_li{
	line-height: 30px;
	text-align: left;
}
.academic_list_span{
	float: right;
}
.book_news{
	width: 380px;
	margin-left: 25px;
	float: right;
}
.book_news_list{
	height: 54px;
}
.book_news_list_a{
	float: right;
}
.book_news_list_li{
	line-height: 30px;
	text-align: left;
}
.book_news_list_span{
	float: right;
}
.fengcai{
	width: 676px;
	clear: both;
	position: relative;
	left: 90px;
}
.fengcai_list{
	height: 54px;
	position: relative;
	left: -120px;
}
.fengcai_list_a{
	float: right;
	position: relative;
	left: 20px;
}
.fengcai_ul{
	height: 136px;
	padding: 20px;
	background-image: url(../images/fengcai_bg2.png);	
	list-style: none;
}
.right_list{
	height: 23px;
	position: relative;
	top: -20px;
}
.right_div{
	background-image: url(../images/show_bg.png);
	width: 275px;
	height: 360px;
}
.right_picture{
	width: 224px;
	text-align: center;
	position: relative;
	left: 25px;
	top: 10px;
}
.right_span{
	color: #b70000;
	font-weight: bolder;
}
.right_word{
	width: 224px;
	text-align: left;
	line-height: 20px;
	position: relative;
	top: 30px;
	left: 25px;
}
.right_more{
	float: right;
	position: relative;
	left: -10px;
	top: 40px;
}
#footer{
	height: 105px;
	clear: both;
	background-image: url(../images/foot.gif);
	position: relative;
	top: 60px;
}
.footer_ul{
	list-style: none;
	text-align: center;
}
.footer_ul a{
	font-weight: 900;
}
