body{
	font-size: 12px;
	color:gray;
	font-family: 'Arial';
	line-height: 2em;
}
a{
	color: #727272;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.word{
	font-size: 14px;
	color: #b9f605;
	font-weight: bolder;
}
.a{
	color: white;
}
.list a:hover{
	color: #b9f605;
	text-decoration: none;
	font-size: 1em;
}
.last{
	color: #fdb306;
}
ul{
	list-style-type: none;
}